Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

Distribution / packaging

.build/
dist/
build/
*.egg-info/

Virtual environments

.venv/
venv/
.env

Editors

.vscode/
.idea/

Pytest / coverage

.pytest_cache/
.coverage
htmlcov/

OS junk

.DS_Store
Thumbs.db
